.env
mlruns/
__pycache__/
*.pyc
*.pyo
data/processed/
results/
*.egg-info/
.DS_Store
/venv
logs/airflow/
models/finbert_finetuned/
airflow_home/
presentation_script_en.md
presentation_script.md
slide_plan.txt
